.item-wrapper {
  width: calc(100% - 2px);
  background: $color-white;
}
.item-wrapper {
  .item {
    display: flex;
    @include item-size;
  }
  .item {
    .item-descriptor {
      padding: 0 9px;
    }
    .item-descriptor {
      .item-title {
        font-size: $font-size-label-title;
      }
      .item-area {
        font-size: $font-size-input;
        opacity: $semi-transparent;
      }
    }
  }
  .item-no-exist {
    @include item-size;
    border-radius: inherit;
  }
  .item-no-exist {
    h5 {
      font-weight: $font-weight-light;
      font-style: italic;
      margin: 0 9px;
      opacity: $semi-transparent;
    }
  }
}