.item-wrapper {
  width: calc(100% - 2px);
  background: $color-white;
}
.item-wrapper {
  .item {
    display: flex;
    width: calc(100% - 2px);
    padding: 10px 0;
    border: 1px solid $color-gray-light;
  }
  .item {
    .item-descriptor {
      padding: 0 9px;
    }
    .item-descriptor {
      .item-title {
        font-size: $font-size-label-title;
      }
      .item-area {
        font-size: $font-size-input;
        opacity: $semi-transparent;
      }
    }
  }
}